@import 'vars'

body
	font-family: $def-font
	overflow-x: hidden

a
	color: inherit

h1
	font-family: $regular
	font-size: 38px
	text-transform: uppercase

h2
	font-family: $medium
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 31px
	text-transform: uppercase

h3
	text-transform: uppercase
	font-size: 30px
	line-height: 38px

fieldset
	padding: 0
	margin: 0

.hidden
	display: none

.aic
	align-items: center

.jcc
	justify-content: center

.jcsb
	justify-content: space-between

.g-gutter
	padding-left: 20px
	padding-right: 20px

.dark_bold
	color: $dark
	font-weight: 700

.uppercase
	text-transform: uppercase

.button_custom
	@include button($button)
	padding: 6px 15px
	border-radius: 30px
	outline: none
	font-family: $bold
	position: relative
	overflow: hidden
	display: inline-block
	z-index: 0
	&::after
		content: ''
		display: block
		position: absolute
		background-color:#fff
		width: 50px
		height: 300px
		top: -50px
		left: -150%
		transform: rotate(30deg)
		z-index: -1


	&:hover
		text-decoration: none
		color: darken(#fff, 10) !important
		&::after
			left: 120%
			transition: 0.5s ease-out

.accent_title
	color: $accent
	font-size: 40px
	font-family: $medium

.currency
	color: $text
	font-family: $medium
	text-transform: uppercase
	font-size: 24px

.slick-dots
	display: flex
	justify-content: center
	margin: 0 auto
	padding: 0
	li
		width: 12px !important
		height: 12px !important
		margin-right: 13px
		border-radius: 50%
		background-color: #C09D84 !important
		background-image: none !important
		cursor: pointer
	.slick-active
		background-color: #67432B !important
	button
		display: none

.sidebar_title
	font-size: 18px
	color: $accent
	font-family: $bold
	&::after
		content: ''
		display: block
		background-image: url('../images/sidebar-title-bottom.svg')
		background-repeat: no-repeat
		background-size: 100%
		width: 100%
		height: 5px
		margin-top: 8px


.social_custom
	font-size: 26px
	color: #fff
	a
		transition: 0.3s ease-out
		&:hover
			color: $text


input,
textarea
	padding: 10px
	border: 1px solid $border
	border-radius: 5px
	width: 100%


/*===== Fancybox reset =====*/
.fancybox-content
	padding: 0

.fancybox-slide--html
	.fancybox-close-small
		background: none
		display: none
		&:hover
			background: inherit

.form_custom
	font-family: $roboto
	background-color: #fff
	border-radius: $bd-radius
	display: inline-block
	.form_item
		padding: 36px 26px
	h4
		color: $accent
		font-family: $bold
		font-size: 22px
		margin-bottom: 20px

	input,
	textarea,
		display: block
		border: 1px solid $border
		padding: 10px
		border-radius: 5px
		margin-bottom: 26px
		width: 100%

	label,
	a
		display: block
		font-size: 18px
		margin-bottom: 0
		user-select: none

	button
		background: linear-gradient(180deg, $button 0%, #B90144 100%)
		border-radius: 30px
		color: #fff
		display: inline-block
		border: none
		padding: 10px 30px
		text-transform: uppercase
		font-size: 24px
		//transition: 0.3s ease
		&:hover
			background: $text

	.popup_close
		cursor: pointer
		background-color: $accent
		position: absolute
		top: 0
		right: 0
		width: 48px
		height: 48px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition: 0.3s ease-out
		border-radius: 0 0 0 $bd-radius
		&:hover
			background-color: $text

	.checkbox_custom,
	.forgot_password
		display: flex
		align-items: center
		width: 50%
		input
			margin: 0
			padding: 0
			min-width: 18px
			height: 18px
			-moz-appearance: none
			-webkit-appearance: none
			appearance: none
			margin-right: 12px
			border: 1px solid #000
			border-radius: 0
			position: relative
			display: block
			&:checked
				&::after
					display: block
			&::after
				content: url('../images/check.svg')
				width: 18px
				position: absolute
				top: -6px
				right: -3
				display: none

	.forgot_password
		a
			margin-left: auto
	.checkbox_wrap
		margin-bottom: 25px
		display: flex

#sign_up
	a
		display: inline
		color: $blue

.required
	&::after
		content: '*'
		display: inline
		color: $red
		margin-left: 6px

.fancybox-image
	overflow: hidden
	border-radius: $bd-radius

.form_sign_up
	max-width: 375px
	.checkbox_custom
		width: 100%
		margin-bottom: 25px
		label
			width: 100%
			line-height: 1.4

@media screen and(max-width: 410px)
	.form_custom
		.checkbox_wrap
			flex-direction: column
			align-items: center
		.checkbox_custom
			margin-bottom: 15px
			width: 100%
			justify-content: center
		.forgot_password
			width: 100%
			text-align: center
			a
				margin: 0 auto
		button
			display: block
			margin: 0 auto

.form_sign_in
	max-width: 470px
	width: 100%




.bread_crumbs
	margin: 30px 0
	ul
		display: flex
		list-style-type: none
		color: $gray
		padding: 0
		margin: 0
		li
			&:nth-last-child(n+2)
				a
					margin-right: 8px
					transition: 0.3s ease-out
			&:nth-child(n+2)
				margin-left: 8px
			a
				&:hover
					color: $text
		.bread_crumb_currency
			color: #000



.multiselect-list
	padding: 0
	border: none !important
	border-radius: 5px
	box-shadow: 0px 10px 12.8px 3.2px rgba(0, 0, 0, 0.1)
	font-family: $roboto
	font-weight: 700

	label
		user-select: none
		display: flex
		align-items: center
		margin: 0
		padding: 10px 5px
	.multiselect-text
		font-size: 18px
	.multiselect-checkbox
		appearance: none
		-webkit-appearance: none
		-moz-appearance: none
		width: 20px !important
		height: 20px
		border: 1px solid #000
		border-radius: 0
		position: relative
		margin-right: 10px !important
		&:checked
			&::after
				display: block
		&::after
			content: url('../images/check.svg')
			width: 18px
			position: absolute
			top: -4px
			right: -3
			display: none
	hr
		margin: 0

.multiselect-wrapper
	width: 100%
	position: relative
	z-index: 2
	.multiselect-input-div
		border: 1px solid $border
		border-radius: 5px
		height: 45px
		display: flex
		align-items: center
		justify-content: space-between
		overflow: hidden
	.multiselect-input
		border-radius: 5px
		background: none
		vertical-align: top
		border: none
		width: auto
		height: 100%
		padding: 0
		padding-left: 10px
		margin: 0
		font-size: 18px
		font-family: $roboto
		font-weight: 700
		position: relative
		outline: none
	.multiselect-count
		display: none !important
	ul
		max-height: none
		li.active
			background-color: transparent
			color: #000
		li
			&:hover
				background-color: darken(#fff, 5)
				color: #000

.in_stock
	color: $green

.multiselect-dropdown-arrow
	border: none
	margin: 0 !important
	padding: 0 !important
	background-image: $gradient
	width: 33px
	height: 33px
	border-radius: 5px
	position: absolute
	right: 10px
	cursor: pointer
	transition: 0.2s ease-out
	&::after
		content: ''
		display: block
		background-image: url('../images/triangle-white.svg')
		background-size: 13px 9px
		background-position: center center
		background-repeat: no-repeat
		width: 100%
		height: 100%


.multiselect-arrow-active
	border-radius: 50%
	transform: rotate(180deg)




input[type="number"]
	-moz-appearance: textfield
	border-radius: 5px
	background: none
	vertical-align: top
	border: 1px solid $border
	width: 100%
	height: 100%
	padding: 10px
	margin: 0
	font-size: 18px
	font-family: "Roboto-Regular"
	font-weight: 700
	position: relative
	outline: none
	text-align: center
	&::-webkit-inner-spin-button,
	&::-webkit-inner-outer-button
		appearance: none
		-webkit-appearance: none
		-moz-appearance: none


input[type="checkbox"]
	margin: 0
	padding: 0
	width: 18px
	height: 18px
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	margin-right: 12px
	border: 1px solid #000
	border-radius: 0
	position: relative
	display: block
	&:checked
		&::after
			display: block
	&::after
		content: url('../images/check.svg')
		width: 18px
		position: absolute
		top: -6px
		right: -2px
		display: none


input[type="radio"]
	appearance: none
	-moz-appearance: none
	-wbkit-appearance: none
	min-width: 20px
	width: 20px
	min-height: 20px
	height: 20px
	border-radius: 50%
	border: 1px solid #000
	display: inline-block
	position: relative
	&:checked
		&::before
			display: block
	&::before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 75%
		height: 75%
		background-color: #000
		border-radius: 50%
		display: none

.quantity
	.quantity_item
		position: relative
	input
		outline: none
	.spin_down,
	.spin_up
		z-index: 1
		cursor: pointer
		position: absolute
		top: 50%
		transform: translateY(-50%)
		font-size: 28px
		font-family: $bold
		background: $gradient
		color: #fff
		width: 33px
		height: 33px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		border-radius: 5px
		user-select: none
	.spin_down
		left: 10px
		padding-bottom: 4px
	.spin_up
		right: 10px



.currency
	display: flex
	align-items: flex-end
	del
		font-size: 14px
		color: $accent
		display: block
		text-align: left
	.woocommerce-Price-currencySymbol
		margin-right: 10px
		line-height: 1


.products_filter
	color: $accent
	font-size: 18px
	display: flex
	justify-content: space-between
	.filter_button
		color: $text
		font-size: 20px
		display: flex
		align-items: center
		img
			margin-right: 10px
		&:hover
			color: $text
			text-decoration: none

	.filter_show
		width: 90%

		.select_wrap
			display: flex
			align-items: center
			justify-content: space-between
			>
				div
					width: 33.3%
		.select_item
			display: flex
			align-items: center
			label
				margin-right: 15px
				margin-bottom: 0
		.select_size
			width: 25% !important
		.multiselect-wrapper
			color: #000
			input
				width: 100%
	.filter_show_active
		display: block
	.price_item
		display: flex
		align-items: center
		label
			margin-bottom: 0
			margin-right: 20px

.theme-green
	.back-bar
		height: 1px
		background-color: $accent
		background-image: none
		.selected-bar,
		.pointer
			background-color: $accent
			background-image: none
			border: none
			top: -6px
		.selected-bar
			height: 4px
			top: -1px

.slider-container
	.scale
		display: none
	.back-bar
		.pointer-label
			top: auto
			bottom: -30px
			font-size: 18px
			font-family: $roboto

.asRange
	height: 2px
	background-color: rgba(0, 0, 0, 0.25)
	max-width: 381px
	width: 100%
	.asRange-selected
		background-color: $accent
		height: 7px
		top: -120%
	.asRange-pointer
		top: -120%
		&::before
			background-color: $accent
		&::after
			display: none
		.asRange-tip
			top: auto
			bottom: -25px
			background: none
			border: none
			color: $accent
			font-family: $roboto
			font-size: 18px
			&::before,
			&::after
				display: none


@media screen and(max-width: 1200px)
	.s-products
		.filter_button
			margin-bottom: 20px
		.products_filter
			flex-direction: column




.ball
	background-color: $blue
	font-family: $roboto
	font-weight: 700
	color: #fff
	padding: 8px 15px
	border-radius: 30px


.bootstrap-select
	width: 100% !important
	button
		width: 100%
		outline: none !important
	>
		.dropdown-toggle
			background-color: #fff
			border: 1px solid $border
			outline: none !important
			&::after
				content: url('../images/triangle-white.svg')
				display: flex
				justify-content: center
				align-items: center
				background-image: $gradient
				border: none
				min-width: 33px
				height: 33px
				border-radius: 5px
		.dropdown-toggle_active
			&::after
				border-radius: 50%
.bootstrap-select
	.dropdown-menu
		padding: 0
		li
			a
				padding: 10px 20px
				&:focus
					background-image: $gradient
			.active
				background-image: $gradient

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle
	background-color: #fff
	outline: none !important

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle
	outline: none !important

.address_edit_popup
	padding: 26px 0
	max-width: 782px
	width: 100%
	border-radius: $bd-radius
	.popup_row
		padding: 0 36px
		display: flex
		justify-content: center
	.left
		margin-right: 42px
		width: 50%
	.right
		width: 50%
	label
		display: block
	.button_custom
		color: #fff
		font-family: $regular
		font-size: 14px
		padding: 20px 0
		text-align: center
		margin: 0 auto
		display: block
		max-width: 160px
	.h-gutter
		margin-bottom: 25px
	.street_home
		display: flex
		.input_custom
			width: 50%
			&:first-child
				margin-right: 28px




.pagination
	display: flex
	justify-content: center
	margin-bottom: 25px
	.page-numbers
		background-color: #fff
		border: 1px solid $accent
		border-radius: 5px
		display: inline-block
		min-width: 35px
		height: 35px
		text-align: center
		line-height: 35px
		text-decoration: none
		color: #000
		transition: 0.3s ease-out
		&:hover
			background-color: $accent
			color: #fff
		&:nth-last-child(n+2)
			margin-right: 15px
	.current
		background-image: $gradient
		color: #fff
		border-color: transparent







.multiselect
	background-color: #fff
	border: 1px solid #E0E0E0
	outline: none !important
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-items: center
	font-family: $bold
	font-size: 18px
	&::after
		content: url("../images/triangle-white.svg")
		display: flex
		justify-content: center
		align-items: center
		background-image: linear-gradient(180deg, #F3568F 0%, #B90144 100%)
		border: none
		min-width: 33px
		height: 33px
		border-radius: 5px
		margin-left: 25px


.multiselect-container
	>
		li
			>
				a
					>
						label
							padding: 14px
							font-family: $bold
	label
		display: flex
		align-items: center
	input
		display: inline-block
		margin-bottom: 0 !important
		font-size: 18px


.dropdown-menu
	max-height: none !important
	min-height: auto !important
	min-width: auto !important
	transform: none !important
	top: auto !important
	left: auto !important
	width: 100%

.multiselect-container
	top: 100% !important

@media screen and(max-width: 768px)
	.address_edit_popup
		.popup_row
			flex-direction: column
		.left,
		.right
			width: 100%

@media screen and(max-width: 480px)
	.address_edit_popup
		.popup_row
			padding: 0 25px
		.street_home
			flex-direction: column
			.input_custom
				width: 100%
				margin-right: 0 !important
