@import "all"
@import "vars"
@import "fonts"



//==== Header BEGIN ====//
.header
	background-color: $accent
	padding-top: 10px
	color: #fff
	font-size: 14px
	position: relative
	&::after
		content: ''
		background-image: url('../images/header-bottom.svg')
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		bottom: -3px
		left: 0
		width: 100%
		height: 8px
		z-index: -1
	a
		transition: color 0.3s ease-out
		&:hover
			color: $text
	p
		margin: 0
	.header_row
		display: flex
		justify-content: space-between
		align-items: center
	.header_logo
		z-index: 0
		position: relative
		top: 3px
		img
			max-width: 215px
			width: 100%
	.header_search_wrap
		max-width: 300px
		width: 100%
	.header_search
		background-color: #fff
		border-radius: 5px
		display: flex
		justify-content: space-between
		padding: 4px 12px
		input,
		button
			background: transparent
			border: none
			padding: 0
			margin-right: -5px
		input
			width: 100%
	
	.header_right
		display: flex
		align-items: center
		justify-content: space-between
		width: 50%
	.search_button
		margin: 0 20px
	.search_button,
	.hamburger_button
		display: none
		font-size: 24px
		cursor: pointer
	.times_button
		font-size: 24px
		cursor: pointer
		position: absolute
		right: 35px
		top: 25px
		display: none

	.header_contacts
		display: flex
		align-items: center
		justify-content: center
		color: #fff
	.header_social
		margin-right: 12px
		white-space: nowrap
		a
			font-size: 26px
			&:nth-last-child(n+2)
				margin-right: 15px
	.p_title
		font-family: $regular
		font-weight: 600
	.header_phone
		.p_item
			display: flex
			flex-wrap: wrap
			font-family: $light
			p
				white-space: nowrap
				&:nth-last-child(n+2)
					margin-right: 12px

	.cart_button
		position: relative
		max-width: 130px
		width: 100%
		margin-right: 35px
		img
			margin-right: 10px
		.cart_quantity
			position: absolute
			top: 0
			right: 0
			@include button($button)
			border-radius: 50%
			width: 22px
			height: 22px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center

	.sign-up_in
		display: flex
		align-items: center
		a
			&:first-child
				margin-right: 12px
		.sign_in
			min-width: 72px


/* Header Responsive */
@media screen and(max-width: 1200px)
	.header
		.header_search_wrap
			max-width: none
			width: 75%
			margin: 0 20px
		.header_right
			position: fixed
			right: 0
			top: 0
			width: 70%
			height: 100%
			z-index: 11
			padding: 25px
			background-color: $accent
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			box-shadow: 3px 1px 17px rgba(0, 0, 0, 0.25)
			font-size: 22px
			opacity: 0
			transition: 0.5s ease-out
			transform: translateX(100%)
			> div
				margin-bottom: 25px
		.sign-up_in,
		.header_contacts
			flex-direction: column
			align-items: flex-start
		.sign-up_in
			a
				&:first-child
					margin-bottom: 15px
		.header_social
			a
				font-size: 40px
		.header_phone 
			.p_item 
				p
					white-space: normal
		.cart_button
			margin-right: 0
			max-width: 166px
		.times_button,
		.hamburger_button
			display: block

.header_is_active
	transform: none !important
	opacity: 1 !important

@media screen and(max-width: 992px)
	.menu_wrap 
		.menu_list_wrap
			flex-direction: column
			align-items: flex-start !important
			li
				margin-bottom: 15px
				position: relative
				width: 100%
			.sub-menu
				visibility: visible
				opacity: 1
				transform: none
				padding: 20px
				top: 100%
				display: none
				transition: none
				.left
					width: 100%
					justify-content: space-between
				.right
					display: none
				.sub_list
					margin-right: 0
					margin-bottom: 10px
					width: 45%


@media screen and(max-width: 480px)
	.header
		.search_button
			display: block
		.header_search_wrap
			position: absolute
			top: calc(100% + 2px)
			left: 0
			border: 1px solid rgba(#000, .2)
			width: 100%
			z-index: 1
			margin: 0
			display: none
			
			input
				box-sizing: border-box
				padding: 10px
			button
				margin: 0

@media screen and(max-width: 400px)
	.header 
		.header_right
			width: 80%
//==== Header END ====//




//==== Main top BEGIN ====//
.sidebar_left
	padding-top: 30px

.sidebar_category
	ul
		padding: 0
		list-style-type: none
		a
			font-family: $medium
			color: $text
			font-size: 15px
			margin-bottom: 15px
			display: inline-block


.menu_wrap
	padding-top: 18px
	.menu_list_wrap
		display: flex
		align-items: center
		position: relative
		z-index: 2
		li
			z-index: 1
	ul
		list-style-type: none
		padding: 0
		a
			display: block
			margin-right: 25px
			font-size: 18px
			font-family: $medium
			color: $text
			text-decoration: none
			position: relative
			&:hover
				&::before
					width: 100%
			&::before
				content: ''
				display: block
				position: absolute
				bottom: -5px
				width: 0
				left: 50%
				transform: translateX(-50%)
				height: 2px
				background-color: $accent
				transition: 0.3s ease-out
		.current_page_item
			a
				padding: 12px 20px
				border-radius: 30px
				transition: 0.3s ease-out
				position: relative
				text-decoration: none
				background-color: rgba($accent, .2)
				&:hover					
					color: #fff
					background-color: $accent
					&::before
						display: none

		.menu-item-has-children
			&:hover
				.sub-menu
					visibility: visible
					opacity: 1
					transform: none
			a
				position: relative
				&::after
					content: "\f0d7"
					font: normal normal normal 14px/1 FontAwesome
					margin-left: 10px
		

		.sub-menu
			display: flex
			border-radius: 10px
			position: absolute
			width: 100%
			top: 0
			left: 0
			padding: 90px 0 15px 25px
			box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15)
			z-index: 1
			visibility: hidden
			opacity: 0
			transform: translateY(20%)
			transition: 0.3s ease-out
			background-color: #fff
			ul
				padding: 0
			.sub_list
				margin-right: 30px
				margin-bottom: 30px
				width: 26%
				&:hover
					&:target
						background-image: none
			li
				a
					font-family: $regular
					color: $accent
					margin-bottom: 15px
					margin-right: 0
					display: inline-block
					z-index: 0
					&::before
						background-color: $text
					&::after
						display: none
			.left
				display: flex
				flex-wrap: wrap
				z-index: 1
				width: 80%
			.sub_title
				text-transform: uppercase
				font-size: 16px
				font-family: $bold
				color: $text
				margin-bottom: 20px
			.right
				img
					height: 100%
					position: absolute
					top: 0
					right: 0
					border-radius: 0 10px 10px 0


.main_banner
	position: relative
	overflow: hidden
	.slick-list
		overflow: hidden
		border-radius: 20px
	.banner_item
		padding: 60px 25px
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom center
		text-align: center
		min-height: 40vh
		del
			text-decoration: line-through
			color: #828282
			font-size: 22px
			font-family: $light
			position: absolute
			top: -50%
			right: -50px
	.accent_title
		margin-bottom: 10px
		position: relative
		display: inline-block
	p
		font-size: 14px
	.button_custom
		color: #fff
		padding: 12px 25px
		font-family: $light
	.chat
		position: absolute
		background-color: $chat
		border-radius: 50%
		transition: 0.3s ease-out
		top: 35px
		right: 25px
		&:hover
			background-color: $accent
		a
			display: block
			padding: 17px
	.banner_arrow_prev,
	.banner_arrow_next
		cursor: pointer
		position: absolute
		top: 50%
		transform: translateY(-50%)
		background-color: #fff
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.15)
		width: 55px
		height: 55px
		transition: 0.3s ease-out
		z-index: 1
		&:hover
			background-color: darken(#fff, 5)
	.banner_arrow_prev
		left: -10px
		border-radius: 0 50% 50% 0
	.banner_arrow_next
		right: -10px
		border-radius: 50% 0 0 50%
//==== Main top END ====//



//==== Products cart BEGIN ====//
.s-products
	margin-top: 20px
	.products_row
		list-style-type: none
		padding: 0
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		li
			padding: 20px 20px 0 0
			@include product_bg
			border-radius: 20px
			width: 32.3%
			position: relative
			margin-bottom: 20px
			overflow: hidden
			text-align: center
		img
			height: 100%
		a
			display: inline-block
		.woocommerce-loop-product__title
			color: $text
			font-size: 20px
			font-family: $regular
		.product_type_simple
			text-align: right
			text-decoration: none
			@include button($button)
			padding: 6px 15px
			border-radius: 30px
			outline: none
			font-family: $bold
			position: relative
			overflow: hidden
			display: block
			color: #fff
			z-index: 0
			width: 115px
			&:hover
				&::after
					transition: 0.8s ease
					left: 120%			
			&::after
				content: ''
				display: block
				position: absolute
				background-color: #fff
				width: 50px
				height: 100px
				top: -20px
				left: -100%
				transform: rotate(30deg)
				z-index: -1
		.bottom
			display: flex
			justify-content: space-between
			align-items: center
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			padding: 0 20px
			margin-bottom: 20px
		.favourite
			position: absolute
			top: 0
			right: 0

/* Header Responsive */
@media screen and (max-width: 1300px)
	.s-products 
		.products_row 
			li
				width: 49%

@media screen and (max-width: 768px)
	.s-products 
		.products_row 
			li
				width: 100%

@media screen and (max-width: 480px)
	.s-products 
		.products_row 
			.bottom
				flex-direction: column
//==== Products cart END ====//


//==== Footer START ====//
.footer
	background-color: $footer
	color: #fff
	padding: 40px 25px
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		left: 0
		top: -5px
		width: 100%
		height: 7px
		background-image: url('../images/footer-uzor.svg')
		background-repeat: no-repeat
		background-size: cover
	.footer_logo
		font-size: 24px
		font-family: $bold
		text-transform: uppercase
		a
			transition: 0.3s ease-out
			text-decoration: none
			line-height: 31px
			&:hover
				color: $text
	h4
		font-size: 16px
		text-transform: uppercase
		font-family: $bold
		margin-bottom: 18px
	h5
		font-size: 16px
		font-family: $bold
	ul
		padding: 0
		list-style-type: none
	.footer_menu
		a
			margin-bottom: 15px
			display: inline-block
			transition: 0.3s ease-out
			text-decoration: none
			&:hover
				color: $text
	.footer_social
		a
			font-size: 36px
			margin-right: 10px


//==== Footer END ====//