@import "all"
@import "vars"
@import "fonts"


//==== Header BEGIN ====//
.header
	background-color: $accent
	padding-top: 10px
	color: #fff
	font-size: 14px
	position: relative
	&::after
		content: ''
		background-image: url('../images/header-bottom.svg')
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		bottom: -3px
		left: 0
		width: 100%
		height: 8px
		z-index: -1
	.chat
		position: fixed
		background-color: $chat
		border-radius: 50%
		transition: 0.3s ease-out
		top: 14rem
		right: 25px
		z-index: 2
		&:hover
			background-color: $accent
		a
			display: block
			padding: 17px
	a
		transition: color 0.3s ease-out
		&:hover
			color: $text
	p
		margin: 0
	.header_row
		display: flex
		justify-content: space-between
		align-items: center
	.header_logo
		z-index: 0
		position: relative
		top: 3px
		img
			max-width: 215px
			width: 100%
	.header_search_wrap
		width: 25%
	.header_search
		background-color: #fff
		border-radius: 5px
		display: flex
		justify-content: space-between
		padding: 4px 12px
		input,
		button
			background: transparent
			border: none
			padding: 0
			margin-right: -5px
		input
			width: 100%

	.header_right
		display: flex
		align-items: center
		justify-content: space-between
		width: 50%
	.search_button
		margin: 0 20px
	.search_button,
	.hamburger_button
		display: none
		font-size: 24px
		cursor: pointer
	.times_button
		font-size: 24px
		cursor: pointer
		position: absolute
		right: 20px
		top: 25px
		display: none

	.header_contacts
		display: flex
		align-items: center
		justify-content: center
		color: #fff
	.header_social
		margin-right: 12px
		white-space: nowrap
		display: flex
		align-items: center
		margin-bottom: 0
		padding: 0
		list-style-type: none
		li
			a
				font-size: 26px
			&:nth-last-child(n+2)
				a
					margin-right: 15px
	.p_title
		font-family: $regular
		font-weight: 600
	.header_phone
		.p_item
			display: flex
			flex-wrap: wrap
			font-family: $light
			a
				white-space: nowrap
				&:nth-last-child(n+2)
					margin-right: 12px

	.cart_button
		position: relative
		max-width: 130px
		width: 100%
		margin-right: 35px
		a
			text-decoration: none
			&:hover
				.cart_quantity
					color: #fff
		.cart_quantity
			position: absolute
			top: 0
			right: 14px
			@include button($button)
			border-radius: 50%
			width: 22px
			height: 22px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center

	.sign-up_in
		display: flex
		align-items: center
		a
			&:first-child
				margin-right: 12px
		.sign_in
			min-width: 72px


/* Header Responsive */
@media screen and(max-width: 1200px)
	.header
		.header_search_wrap
			max-width: none
			width: 75%
			margin: 0 20px
		.header_right
			position: fixed
			right: 0
			top: 0
			width: 70%
			height: 100%
			z-index: 12
			padding: 25px
			background-color: $accent
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			box-shadow: 3px 1px 17px rgba(0, 0, 0, 0.25)
			font-size: 22px
			opacity: 0
			transition: 0.5s ease-out
			transform: translateX(100%)
			> div
				margin-bottom: 25px
		.sign-up_in,
		.header_contacts
			flex-direction: column
			align-items: flex-start
		.sign-up_in
			a
				&:first-child
					margin-bottom: 15px
		.header_social
			a
				font-size: 40px
		.header_phone
			.p_item
				p
					white-space: normal
		.cart_button
			margin-right: 0
			max-width: 166px
		.times_button,
		.hamburger_button
			display: block

.header_is_active
	transform: none !important
	opacity: 1 !important


@media screen and(max-width: 480px)
	.header
		.search_button
			display: block
		.header_search_wrap
			position: absolute
			top: calc(100% + 2px)
			left: 0
			border: 1px solid rgba(#000, .2)
			width: 100%
			z-index: 1
			margin: 0
			display: none

			input
				box-sizing: border-box
				padding: 10px
			button
				margin: 0

@media screen and(max-width: 400px)
	.header
		.header_right
			width: 80%
	.s-products 
		.products_row 
			li 
				.product-type_bottom
					flex-direction: column
					align-items: center !important
					.right
						width: 100%
						a
							width: 80%
							margin-left: auto
							margin-right: auto
			.currency
				margin-bottom: 15px
//==== Header END ====//




//==== Main top BEGIN ====//
.sidebar_left
	padding-top: 30px

.sidebar_category
	ul
		padding: 0
		list-style-type: none
		a
			font-family: $medium
			color: $text
			font-size: 15px
			margin-bottom: 15px
			display: inline-block
		.quantity
			background-color: $dark
			color: #fff
			padding: 7px
			border-radius: 50%

	.menu_list_wrap
		a
			font-family: $medium
			color: $text
			font-size: 15px
			margin-bottom: 15px
			display: inline-block


.menu_wrap
	padding-top: 18px
	.menu_list_wrap
		display: flex
		align-items: center
		position: relative
		z-index: 3
		margin-bottom: 15px
		a
			display: block
			margin-right: 25px
			font-size: 18px
			font-family: $medium
			color: $text
			text-decoration: none
			position: relative
			z-index: 2
			&:hover
				&::before
					width: 100%
			&::before
				content: ''
				display: block
				position: absolute
				bottom: -5px
				width: 0
				left: 50%
				transform: translateX(-50%)
				height: 2px
				background-color: $accent
				transition: 0.3s ease-out
		.current_page_item
			>
				a
					padding: 12px 20px
					border-radius: 30px
					transition: 0.3s ease-out
					position: relative
					text-decoration: none
					background-color: rgba($accent, .2)
					&:hover
						color: #fff
						background-color: $accent
						&::before
							display: none

		.menu-item-has-children
			&:hover
				.sub-menu
					visibility: visible
					opacity: 1
					transform: none
			a
				position: relative
				&::after
					content: "\f0d7"
					font: normal normal normal 14px/1 FontAwesome
					margin-left: 10px


		.sub-menu
			display: flex
			border-radius: 10px
			position: absolute
			width: 100%
			top: 0
			left: 0
			padding: 90px 0 15px 25px
			box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15)
			z-index: 0
			visibility: hidden
			opacity: 0
			transform: translateY(20%)
			transition: 0.3s ease-out
			background-color: #fff
			ul
				padding: 0
			.sub_list
				margin-right: 30px
				margin-bottom: 30px
				width: 26%
				&:hover
					&:target
						background-image: none
			.sub-menu-item
				list-style-type: none
				a
					font-family: $regular
					color: $accent
					margin-bottom: 15px
					margin-right: 0
					display: inline-block
					word-wrap: anywhere
					z-index: 0
					&::before
						background-color: $text
					&::after
						display: none
			.left
				display: flex
				flex-wrap: wrap
				z-index: 1
				width: 80%
			.sub_title
				text-transform: uppercase
				font-size: 16px
				font-family: $bold
				color: $text
				margin-bottom: 20px
			.right
				img
					height: 100%
					position: absolute
					top: 0
					right: 0
					border-radius: 0 10px 10px 0


.active_sidebar
	padding: 100px 0
	ul
		li
			a
				display: flex
				align-items: center
	.sidebar_image
		background-color: rgba($dark, .5)
		min-width: 44px
		height: 44px
		border-radius: 50%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		margin-right: 10px
		img
			width: 20px
	.active_link
		.sidebar_image
			background-color: $dark

/**** Menu Responsive ****/
@media screen and(max-width: 992px)
	.menu_wrap
		.menu_list_wrap
			flex-direction: column
			align-items: flex-start !important
			.menu-item
				margin-bottom: 15px
				position: relative
				width: 100%
			.sub-menu
				visibility: visible
				opacity: 1
				transform: none
				padding: 20px
				top: 100%
				display: none
				z-index: 3
				transition: none
				.left
					width: 100%
					justify-content: space-between
				.right
					display: none
				.sub_list
					margin-right: 0
					margin-bottom: 10px
					width: 45%


.main_banner
	position: relative
	overflow: hidden
	.slick-list
		overflow: hidden
		border-radius: $bd-radius
	.banner_item
		padding: 60px 25px
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom center
		text-align: center
		min-height: 40vh
		del
			text-decoration: line-through
			color: #828282
			font-size: 22px
			font-family: $light
			position: absolute
			top: -50%
			right: -50px
	h1
		margin-bottom: 10px
		position: relative
		display: inline-block
		color: $accent
		font-size: 40px
		font-family: $medium
	p
		font-size: 14px
	.button_custom
		color: #fff
		padding: 12px 25px
		font-family: $light
	.banner_arrow_prev,
	.banner_arrow_next
		cursor: pointer
		position: absolute
		top: 50%
		transform: translateY(-50%)
		background-color: #fff
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.15)
		width: 55px
		height: 55px
		transition: 0.3s ease-out
		z-index: 1
		&:hover
			background-color: darken(#fff, 5)
	.banner_arrow_prev
		left: -10px
		border-radius: 0 50% 50% 0
	.banner_arrow_next
		right: -10px
		border-radius: 50% 0 0 50%



@media screen and(max-width: 768px)
	.active_sidebar
		padding: 25px 0
//==== Main top END ====//



//==== Products cart BEGIN ====//
.s-products
	margin-top: 20px
	.products_filter
		margin-bottom: 32px
		.select_wrap
			>
				div
					&:nth-last-child(n+2)
						margin-right: 30px

	.products_row
		list-style-type: none
		padding: 0
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		li
			@include product_bg
			border-radius: $bd-radius
			width: 32.3%
			position: relative
			margin-bottom: 20px
			overflow: hidden
			text-align: center
			height: 100%
			a
				text-decoration: none
				display: block
			.product-type_top
				height: 248px
				position: relative
				overflow: hidden
				img
					width: 100%
			.product-type_bottom
				background-color: #fff
				border: 1px solid #C4C4C4
				border-radius: 0 0 $bd-radius $bd-radius
				display: flex
				justify-content: space-between
				align-items: flex-end
				padding: 15px 25px
		a
			display: inline-block
			position: relative
		.woocommerce-loop-product__title
			color: $text
			font-size: 20px
			font-family: $regular
			text-align: left
		.product_type_simple
			text-align: right
			text-decoration: none
			@include button($button)
			padding: 6px 0
			text-align: center
			border-radius: 30px
			outline: none
			font-family: $regular
			overflow: hidden
			display: block
			color: #fff
			z-index: 0
			width: 110px
			&:hover
				&::after
					transition: 0.8s ease
					left: 120%
			&::after
				content: ''
				display: block
				position: absolute
				background-color: #fff
				width: 50px
				height: 100px
				top: -20px
				left: -100%
				transform: rotate(30deg)
				z-index: -1
		.bottom
			display: flex
			justify-content: space-between
			align-items: center
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			padding: 0 20px
			margin-bottom: 20px
		.favourite
			position: absolute
			top: 0
			right: 0
			img
				height: 77px

/* Header Responsive */
@media screen and (max-width: 1300px)
	.s-products
		.products_row
			li
				width: 49%

@media screen and (max-width: 768px)
	.s-products
		.products_row
			li
				width: 100%

@media screen and (max-width: 480px)
	.s-products
		.products_row
			.bottom
				flex-direction: column
//==== Products cart END ====//


//==== Products Single START ====//
.s-product_single
	display: flex
	.left
		margin-right: 22px
		position: relative
	.dropdown-menu
		transform: none !important
		min-width: auto !important
		top: 100% !important
		width: 100% !important
		max-height: none !important
		min-height: auto !important

	.filter-option-inner-inner
		color: #000
		font-family: $roboto
		font-weight: 900

	.product_single_fotorama
		.fotorama__img
			height: 100% !important
			top: 0 !important
	.right
		width: 70%
		font-size: 18px
		h2
			font-family: $regular
			font-style: normal
			font-weight: normal
			font-size: 38px
			line-height: 38px
		.price
			font-family: $bold
			font-size: 38px
			color: #000

	.ball
		position: absolute
		top: 16px
		left: 19.5rem
		background-color: $blue
		font-family: $roboto
		font-weight: 700
		color: #fff
		padding: 8px 15px
		border-radius: 30px

	.fotorama__nav
		display: flex
	.fotorama__thumb-border
		border-color: $accent
	.fotorama__fullscreen-icon
		right: auto
		top: 10px
		left: 10px
	.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus)
		-webkit-transform: translate3d(-32px,-32px,0)
		transform: translate3d(-32px,-32px,0)

	.select_wrap
		font-family: $roboto
		display: flex
		flex-wrap: wrap
		align-items: center
		max-width: 400px
		.select_item
			max-width: $input-width
			width: 100%
			margin-bottom: 22px
			&:nth-child(n+2)
				margin-left: 85px
			label
				font-size: 18px
				margin-bottom: 5px
				display: block
			input
				display: inline-block
		.single_add_to_cart_button
			max-width: $input-width
			width: 100%
			height: 50px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			color: #fff
			text-transform: uppercase
			font-size: 24px
			font-family: $regular
			margin-top: 5px
			border: none

		.quantity
			max-width: $input-width
			width: 100%
			margin-right: 35px
			margin-bottom: 22px
			position: relative

		.in_stock
			margin-top: 10px
			font-family: $roboto
			position: absolute
			top: 100%

	.nav-tabs
		margin-top: 50px
		padding-top: 30px
		font-size: 18px
		.nav-item
			a
				color: rgba(0, 0, 0, 0.5)
				&:hover
					color: $dark
			.active
				color: $dark
	.tab-content
		padding-top: 30px
		font-size: 18px
		font-family: $roboto

.related_products
	h2
		margin-bottom: 20px
	.currency
		position: absolute
		top: 25px
		left: 25px


/**** Products Single Responsive ****/
@media screen and(max-width: 1200px)
	.s-product_single
		flex-direction: column
		.left
			width: 100%
		.right
			width: 100%

@media screen and(max-width: 575px)
	.bread_crumbs
		ul
			flex-direction: column


@media screen and(max-width: 420px)
	.s-product_single
		.select_wrap
			flex-direction: column
			align-items: flex-start
			width: 100%
			.select_item
				max-width: none
				margin-left: 0 !important

			.quantity
				max-width: none
			.in_stock
				position: static
	.nav-tabs
		.nav-item
			border: 1px solid $border
			width: 100%
			margin-bottom: 10px
//==== Products Single END ====//


//==== About BEGIN ====//
.s-about
	padding-bottom: 30px
	.top
		display: flex
		img
			max-width: 100%
	.left
		width: 40%
		margin-right:	28px
		margin-bottom: 28px
	h3
		margin-top: 30px
		margin-bottom: 20px
	p
		font-size: 18px
		font-family: $roboto
	a
		color: #2F80ED

/**** About Responsive ****/
@media screen and(max-width: 1200px)
	.s-about
		.top
			flex-wrap: wrap
		.left
			margin-right: 0
			width: 100%
//==== About END ====//



//==== Shopping Cart BEGIN ====//
.s-shopping_cart
	table
		width: 100%
	tr
		border-top: 1px solid #CCCCCC
	td
		padding-top: 25px
		padding-bottom: 25px
		vertical-align: top
	.product-thumbnail
		position: relative
		max-width: 190px
		display: block
		a
			position: relative
			display: block
			&:hover
				&::after
					opacity: 1
			&::after
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, .2)
				transition: 0.5s ease-out
				opacity: 0
		img
			height: 160px
		.magnify
			position: absolute
			left: 15px
			top: calc(15px + 25px)
			width: 18px
			height: 18px
			img
				width: 18px
				height: 18px
		.ball
			position: absolute
			top: calc(15px + 25px)
			right: 15px
	.product-name
		a
			font-size: 24px
		.product-price
			font-family: $bold
			font-size: 22px
	.product-quantity
		font-size: 24px
	.quantity_item
		max-width: 157px
	.screen-reader-text
		font-size: 24px
	.woocommerce-Price-amount
		font-size: 22px
		font-family: $bold
		display: block
	.remove
		display: block
		border: 1px solid $accent
		font-size: 14px
		border-radius: 30px
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4)
		color: $accent
		padding: 16px 0
		text-decoration: none
		text-transform: lowercase
		font-family: $regular
		margin-top: 15px
		width: 150px
		text-align: center
		transition: 0.3s ease-out
		&:hover
			background-color: $accent
			color: #fff

	.cart_totals
		background-color: #F2F2F2
		padding: 0 25px
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 1px
			background-color: #000
		tr
			border: none
		.delivery_title
			font-size: 18px
			font-family: $bold
			color: #000
		.delivery_p
			font-family: $roboto
			font-size: 18px
			line-height: 25px
		.delivery_edit_address
			color: $blue
	label
		margin: 0
	.order-total
		text-align: left
		display: block
		max-width: 296px
		width: 100%
		margin-left: auto
		.woocommerce-Price-amount
			font-size: 35px
		.screen-reader-text,
		.woocommerce-Price-amount
			padding-left: 48px
	.checkout-button
		color: #fff
		max-width: 293px
		width: 100%
		text-transform: uppercase
		font-family: $regular
		font-size: 24px
		text-align: center
		margin-top: 32px

@media screen and(max-width: 1024px)
	.s-shopping_cart
		table
			display: block
			width: 100%
			overflow-x: auto
			-webkit-overflow-scrolling: touch
		tbody
			width: 100%
			display: block
		tr
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			td
				width: 50%
				max-width: none

@media screen and(max-width: 480px)
	.s-shopping_cart
		table
			tr
				flex-direction: column
			td
				width: 100%
				padding-top: 15px
				padding-bottom: 15px
		.product-thumbnail
			.magnify,
			.ball
				top: 15px
//==== Shopping Cart END ====//


//==== Checkout BEGIN ====//
.s-checkout
	color: #000
	padding-bottom: 150px
	.left,
	.center
		width: 48%
	.left_center
		width: 67%
		.form-row
			justify-content: space-between
	h3
		font-size: 24px
		color: #000
		font-family: $medium
		margin-bottom: 45px
	.not_our_client
		font-family: $roboto
		font-weight: 700
		color: #000
		font-size: 18px
		a
			color: $blue
			display: block
			font-weight: 400
			margin-bottom: 30px
	.checkout_row
		display: flex
		justify-content: space-between
		font-family: $roboto
		font-size: 18px
	.showcoupon
		display: block
		font-weight: 700
		border: 1px solid $border
		padding: 13px
		border-radius: 5px
		color: #000
		text-decoration: none
	.h-gutter
		margin-bottom: 30px

	.street_home
		display: flex
		justify-content: space-between
		>
			div
				width: 46%

	label
		display: block

	.woocommerce-form__label-for-checkbox
		display: flex
		align-items: center
		user-select: none
		span
			width: 100%
		input
			width: auto
			width: 22px
			height: 22px
			&::after
				top: -3px

	.add_new_address
		color: $blue
		display: flex
		align-items: center
		line-height: 25px
		font-size: 18px
		font-family: $roboto
		.circle_plus
			margin-right: 12px
		img
			width: 38px
			height: 38px
			background-color: $blue
			border-radius: 50%

	.order_title
		font-size: 18px
		font-family: $roboto
		font-weight: 900
		text-transform: capitalize
		color: #000
	.right
		width: 28%
		table
			width: 100%
			a
				color: $blue
				margin-bottom: 10px
				display: inline-block
		thead
			border-bottom: 2px solid #000
			th
				padding-bottom: 28px
		tbody
			border-bottom: 1px solid #BDBDBD
		tr
			&:first-child
				td
					padding-top: 15px
			th,
			td
				&:last-child
					text-align: right
			th,
			td
				padding-bottom: 15px
		.order-total
			th
				font-size: 20px
				text-transform: uppercase
				font-family: $roboto
				font-weight: 500
			td
				font-weight: 900

	.woocommerce-checkout-payment
		margin-top: 45px
		ul
			list-style-type: none
			padding: 0
			li
				display: flex
				align-items: center
				margin-bottom: 20px
				label
					width: 100%
					margin-bottom: 0
				input
					margin-right: 15px
		.button
			color: #fff
			text-transform: uppercase
			font-size: 24px
			font-family: $medium
			text-align: center
			border: none
			padding: 10px 20px
			margin-top: 30px

	.woocommerce-additional-fields
		margin-top: 100px

.s-checkout-confirmed
	.woocommerce-order-overview
		padding: 0
		list-style-type: none
		li
			&:last-child
				margin-top: 15px
				margin-bottom: 15px
	.shop_table
		margin-top: 30px
		.order-total
			border-top: 1px solid #BDBDBD
	.woocommerce-checkout-payment
		margin-top: 0 !important


@media screen and(max-width: 768px)
	.s-checkout
		.checkout_row
			flex-direction: column
		.left_center
			width: 100%
			.form-row
				flex-direction: column
		.left,
		.center,
		.right
			width: 100%
		.woocommerce-additional-fields
			margin-top: 50px

//==== Checkout END ====//

//==== Contacts BEGIN ====//
.s-contacts
	display: flex
	justify-content: space-between
	padding-bottom: 65px
	h1
		margin-top: 0
	.contacts_left,
	.contacts_right
		width: 48%
		font-family: $roboto
	.contacts_left
	.contacts_map
		iframe
			width: 100%

	.contacts_items
		margin-top: 22px
		font-size: 18px
		font-family: $roboto
		p
			margin-bottom: 0
			text-transform: uppercase
	.contacts_right
		input,
		textarea
			margin-bottom: 21px
		button
			color: #fff
			text-transform: uppercase
			font-size: 24px
			font-family: $medium
			border: none
			padding: 10px 35px

/**** Contacts Responsive ****/
@media screen and(max-width: 992px)
	.s-contacts
		flex-direction: column
		.contacts_left,
		.contacts_right
			width: 100%

//==== Contacts END ====//



//==== Cabinet BEGIN ====//
.s-cabinet
	color: #000
	font-size: 18px
	a
		color: $blue
//==== Cabinet END ====//


//==== Orders BEGIN ====//
.s-orders
	padding-bottom: 130px
	table
		color: #000
		font-family: $roboto
		width: 100%
		thead
			border-bottom: 2px solid #000
			font-weight: 900
			th
				&:last-child
					text-align: right
	tr
		border-bottom: 1px solid #BDBDBD
		td
			padding: 25px 0
			&:first-child
				color: $blue
			&:last-child
				text-align: right
	.woocommerce-button
		font-family: $medium
		font-size: 14px
		color: $text
		line-height: 18px
		text-transform: lowercase
		border: 1px solid #9A0038
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4)
		border-radius: 30px
		padding: 10px 20px
		text-decoration: none
		transition: 0.3s ease-out
		&:hover
			background-color: $text
			color: #fff
			border-color: transparent

.order_delayed
	color: $red

.order_sent
	color: $green

.waiting_payment
	color: $blue


/**** Orders Responsive ****/
@media screen and(max-width: 768px)
	.s-orders
		table
			display: block
			width: 100%
			overflow-x: auto
			-webkit-overflow-scrolling: touch
			td
				padding-right: 50px
			tbody
				tr
					td
						&:last-child
							padding-right: 0

//==== Orders END ====//


//==== Addresses BEGIN ====//
.s-addresses
	font-family: $roboto
	font-size: 18px
	color: #000
	padding: 0
	h3
		font-family: $medium
		font-size: 24px
	.col-1
		padding: 0
	.u-columns
		display: flex
		width: 100%
		>
			.woocommerce-Address
				width: 48%
				max-width: none
				flex: none
	.edit
		color: $blue
		margin-top: 30px
		display: block

@media screen and(max-width: 768px)
	.s-addresses
		.u-columns
			flex-direction: column
			>
				.woocommerce-Address
					width: 100%
					margin-bottom: 25px
					padding: 0
//==== Addresses END ====//


//==== Profile Details BEGIN ====//
.s-profile-details
	color: #000
	font-family: $roboto
	padding: 0
	h1
		margin-bottom: 0
	.bonus_balls
		font-size: 18px
		font-weight: 600
		margin-bottom: 30px
		.bonus_item
			font-size: 30px
			font-family: $regular
	.woocommerce-EditAccountForm
		display: flex
		.left
			margin-right: 45px
	.form-row
		display: block
		margin-left: 0
		margin-bottom: 34px
	input,
	.dropdown-toggle
		font-weight: 900
	.dropdown-toggle
		padding: 3.2px 10px
	.i-block
		display: inline-block
		margin-bottom: 0
		margin-right: 35px
		width: 28%
		margin-bottom: 34px
	fieldset
		margin-top: 45px
		display: flex
		.woocommerce-form-row
			margin-right: 30px

//**** Profile Details Responsive ****//
@media screen and (max-width: 992px)
	.s-profile-details
		.woocommerce-EditAccountForm
			flex-direction: column
			.left
				margin-right: 0
		.i-block
			display: block
			width: 100%
			&:last-child
				margin-bottom: 0
		fieldset
			flex-direction: column
			.woocommerce-form-row
				margin-right: 0
//==== Profile Details BEGIN ====//


//==== Footer BEGIN ====//
.footer
	background-color: $footer
	color: #fff
	padding: 40px 25px
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		left: 0
		top: -5px
		width: 100%
		height: 7px
		background-image: url('../images/footer-uzor.svg')
		background-repeat: no-repeat
		background-size: cover
	.footer_logo
		font-size: 24px
		font-family: $bold
		text-transform: uppercase
		a
			transition: 0.3s ease-out
			text-decoration: none
			line-height: 31px
			&:hover
				color: $text
	h4
		font-size: 16px
		text-transform: uppercase
		font-family: $bold
		margin-bottom: 18px
	h5
		font-size: 16px
		font-family: $bold
	ul
		padding: 0
		list-style-type: none
		li
			display: block
	.footer_menu
		a
			margin-bottom: 15px
			display: inline-block
			transition: 0.3s ease-out
			text-decoration: none
			&:hover
				color: $text
	.footer_social
		a
			font-size: 36px
			margin-right: 10px

	.social_custom
		li
			display: inline-block

.footer_absolute
	position: absolute
	bottom: 0
	width: 100%
//==== Footer END ====//
