body {
  font-family: "Stem-Regular";
}

a {
  color: inherit;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.g-gutter {
  padding-left: 20px;
  padding-right: 20px;
}

.button_custom {
  background: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 6px 15px;
  border-radius: 30px;
  outline: none;
  font-family: "Stem-Bold";
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  display: inline-block;
  z-index: 0;
}

.button_custom::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 100px;
  top: -20px;
  left: -100%;
  transform: rotate(30deg);
  z-index: -1;
}

.button_custom:hover {
  text-decoration: none;
  border: 1px solid #FFC0CB;
  color: #e6e6e6 !important;
}

.button_custom:hover::after {
  left: 100%;
  transition: 0.5s ease-out;
}

h2 {
  font-size: 38px;
}

/*===== Stem Light =====*/
@font-face {
  font-family: "Stem-Light";
  src: url("fonts/stem/Stem-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Regular =====*/
@font-face {
  font-family: "Stem-Regular";
  src: url("fonts/stem/Stem-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Medium =====*/
@font-face {
  font-family: "Stem-Medium";
  src: url("fonts/stem/Stem-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Bold =====*/
@font-face {
  font-family: "Stem-Bold";
  src: url("fonts/stem/Stem-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #FF96A9;
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 0;
}

.header::after {
  content: '';
  background-image: url("../images/header-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: -1;
}

.header a {
  transition: color 0.3s ease-out;
}

.header a:hover {
  color: #67432B;
}

.header p {
  margin: 0;
}

.header .header_logo {
  z-index: 0;
  position: relative;
  top: 3px;
}

.header .header_logo img {
  width: 215px;
}

.header .header_search {
  background-color: #fff;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}

.header .header_search input,
.header .header_search button {
  background: transparent;
  border: none;
  padding: 0;
  margin-right: -5px;
}

.header .header_search input {
  width: 100%;
}

.header .header_contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header .header_social {
  margin-right: 12px;
  white-space: nowrap;
}

.header .header_social a {
  font-size: 26px;
}

.header .header_social a:nth-last-child(n+2) {
  margin-right: 15px;
}

.header .p_title {
  font-family: "Stem-Regular";
  font-weight: 600;
}

.header .header_phone .p_item {
  display: flex;
  font-family: "Stem-Light";
}

.header .header_phone .p_item p {
  white-space: nowrap;
}

.header .header_phone .p_item p:nth-last-child(n+2) {
  margin-right: 12px;
}

.header .cart_button {
  position: relative;
  max-width: 130px;
  margin-left: auto;
}

.header .cart_button img {
  margin-right: 10px;
}

.header .cart_button .cart_quantity {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .sign-up_in {
  display: flex;
  align-items: center;
}

.header .sign-up_in a:first-child {
  margin-right: 12px;
}

.header .sign-up_in .sign_in {
  min-width: 72px;
}

/* Header Responsive */
