body {
  font-family: "Stem-Regular";
}

a {
  color: inherit;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.g-gutter {
  padding-left: 20px;
  padding-right: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.button_custom {
  background: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 6px 15px;
  border-radius: 30px;
  outline: none;
  font-family: "Stem-Bold";
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  display: inline-block;
  z-index: 0;
}

.button_custom::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 100px;
  top: -20px;
  left: -100%;
  transform: rotate(30deg);
  z-index: -1;
}

.button_custom:hover {
  text-decoration: none;
  border: 1px solid #FFC0CB;
  color: #e6e6e6 !important;
}

.button_custom:hover::after {
  left: 100%;
  transition: 0.5s ease-out;
}

h2 {
  font-size: 38px;
}

.sidebar_title {
  font-size: 18px;
  color: #FF96A9;
  font-family: "Stem-Bold";
}

.sidebar_title::after {
  content: '';
  display: block;
  background-image: url("../images/sidebar-title-bottom.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 5px;
  margin-top: 8px;
}

/*===== Stem Light =====*/
@font-face {
  font-family: "Stem-Light";
  src: url("fonts/stem/Stem-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Regular =====*/
@font-face {
  font-family: "Stem-Regular";
  src: url("fonts/stem/Stem-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Medium =====*/
@font-face {
  font-family: "Stem-Medium";
  src: url("fonts/stem/Stem-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*===== Stem Bold =====*/
@font-face {
  font-family: "Stem-Bold";
  src: url("fonts/stem/Stem-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #FF96A9;
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 0;
}

.header::after {
  content: '';
  background-image: url("../images/header-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: -1;
}

.header a {
  transition: color 0.3s ease-out;
}

.header a:hover {
  color: #67432B;
}

.header p {
  margin: 0;
}

.header .header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header_logo {
  z-index: 0;
  position: relative;
  top: 3px;
}

.header .header_logo img {
  width: 215px;
}

.header .header_search_wrap {
  max-width: 300px;
  width: 100%;
}

.header .header_search {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}

.header .header_search input,
.header .header_search button {
  background: transparent;
  border: none;
  padding: 0;
  margin-right: -5px;
}

.header .header_search input {
  width: 100%;
}

.header .header_contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header .header_social {
  margin-right: 12px;
  white-space: nowrap;
}

.header .header_social a {
  font-size: 26px;
}

.header .header_social a:nth-last-child(n+2) {
  margin-right: 15px;
}

.header .p_title {
  font-family: "Stem-Regular";
  font-weight: 600;
}

.header .header_phone .p_item {
  display: flex;
  flex-wrap: wrap;
  font-family: "Stem-Light";
}

.header .header_phone .p_item p {
  white-space: nowrap;
}

.header .header_phone .p_item p:nth-last-child(n+2) {
  margin-right: 12px;
}

.header .cart_button {
  position: relative;
  max-width: 130px;
  width: 100%;
}

.header .cart_button img {
  margin-right: 10px;
}

.header .cart_button .cart_quantity {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .sign-up_in {
  display: flex;
  align-items: center;
}

.header .sign-up_in a:first-child {
  margin-right: 12px;
}

.header .sign-up_in .sign_in {
  min-width: 72px;
}

/* Header Responsive */
@media screen and (max-width: 1300px) {
  .header .header_search_wrap {
    margin: 0 20px;
  }
}

.sidebar_left {
  padding-top: 30px;
}

.sidebar_category ul {
  padding: 0;
  list-style-type: none;
}

.sidebar_category ul a {
  font-family: "Stem-Medium";
  color: #67432B;
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.menu_wrap {
  padding-top: 18px;
}

.menu_wrap .menu_list_wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.menu_wrap ul {
  list-style-type: none;
  padding: 0;
}

.menu_wrap ul a {
  display: block;
  margin-right: 25px;
  font-size: 18px;
  font-family: "Stem-Medium";
  color: #67432B;
  text-decoration: none;
  position: relative;
}

.menu_wrap ul a:hover::before {
  width: 100%;
}

.menu_wrap ul a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #FF96A9;
  transition: 0.3s ease-out;
}

.menu_wrap ul .current_page_item a {
  background-color: rgba(255, 150, 169, 0.2);
  padding: 12px 20px;
  border-radius: 30px;
  transition: 0.3s ease-out;
  text-decoration: none;
}

.menu_wrap ul .current_page_item a:hover {
  background-color: #FF96A9;
  color: #fff;
}

.menu_wrap ul .current_page_item a:hover::before {
  display: none;
}

.menu_wrap ul .menu-item-has-children a {
  position: relative;
}

.menu_wrap ul .menu-item-has-children a::after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 10px;
}

.menu_wrap ul .sub-menu {
  display: flex;
  border-radius: 10px;
  position: absolute;
  left: 0;
  padding: 30px 0 15px 25px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.menu_wrap ul .sub-menu ul {
  padding: 0;
}

.menu_wrap ul .sub-menu .sub_list {
  margin-right: 60px;
  margin-bottom: 30px;
}

.menu_wrap ul .sub-menu li a {
  font-family: "Stem-Regular";
  color: #FF96A9;
  margin-bottom: 15px;
  display: inline-block;
}

.menu_wrap ul .sub-menu li a::before {
  background-color: #67432B;
}

.menu_wrap ul .sub-menu li a::after {
  display: none;
}

.menu_wrap ul .sub-menu .left {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  width: 65%;
}

.menu_wrap ul .sub-menu .sub_title {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Stem-Bold";
  color: #67432B;
  margin-bottom: 20px;
}

.menu_wrap ul .sub-menu .right img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
}
